<footer>
    <div id="footer_container">
        <div id="footer_titolo">
            <img id="logo" src="../assets/logo_page.png" alt="logo placeholder">
            <h3>D&D Reunion</h3>
            <p>Il ritrovo perfetto dei <span lang="en">player</span> di D&D</p>
        </div>
        <div id="footer_contatti">
            <p>E<strong>' possibile contattarci tramite:</strong></p>
            <ul>
                <li>mail@mail.mail</li>
                <li>+2131728312763</li>
                <li>linkedlksad</li>
                <li> x the everything app</li>
            </ul>
        </div>
    </div>
</footer>
</body>

</html>