<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">  
        <title>Area Personale</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/ap_stylesheet.css">
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
    <div class="wrapper">
        <header class="header-site">
            <img src="../assets/Dragon.png" alt="Drago" style="transform: scaleX(-1);" width="90" height="90" class="left_dragon">
            <a href="su_di_noi.php" class="logo">D&D Reunion</a>
            <ul class="navlinks">
                <li><a href="index.php">Home</a></li>
                <div class="dropdown">
                    <li><a href="#" class="dropbtn">Campagne</a>
                        <div class="dropdown-content">
                            <a href="lista_campagne.php">Visualizza Campagne</a>
                            <a href="crea_campagna.php">Crea Campagna</a>
                        </div>
                    </li>
                </div>
                <li><a href="forum.php">Forum</a></li>
                <li><a href="su_di_noi.php" type="info">Info</a></li>
            </ul>
            <button class="user"><i class='bx bx-user-circle'></i></box-icon>Login/Registrati</button>
            <img src="../assets/Dragon.png" alt="Drago" width="90" height="90" class="right_dragon">
        </header>
