        <footer> 
            <div id="footer_container">
                <div id="footer_titolo">
                    <img id="logo" src="/assets/imgs/header_e_footer/logo.png" alt="logo">
                    <h3>Un<span aria-label="i">1</span>co</h3>
                    <p>Il ritrovo perfetto per <span lang="en">players</span> di <span aria-label="en">D&D</span></p>
                </div>
                <div id="footer_contatti" alt="Contatti">
                    <p>E<strong>' possibile contattarci tramite:</strong></p>
                    <ul>
                        <li>mail@mail.mail</li>
                        <li>+2131728312763</li>
                        <li>linkedlksad</li>
                        <li> x the everything app</li>
                    </ul>
                </div>    
            </div>
        </footer> 
    </div>
        <input type="file" id="fileInput" accept="image/*">
    </body>
    
</html>