<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>[TITOLO]</title>
    <meta name="description" content="[DESCRIZIONE]">
    <meta name="keywords" content="[KEYWORDS]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/ap_stylesheet.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="cr_pr_g.css">
    <link rel="stylesheet" href="/assets/CSS/logpsw.css">
    <link rel="stylesheet" href="/assets/CSS/styles_campaign.css">
    <script src="/assets/JS/script.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="header-site">
            <img src="/assets/imgs/header_e_footer/Dragon.png" alt="Drago" style="transform: scaleX(-1);" width="90" height="90"
                class="left_dragon">
            [LOGO]
            <ul class="navlinks">
                <li>[HOME]</li>
                <div class="dropdown">
                    <li><a class="dropbtn">Campagne</a>
                        <div class="dropdown-content">
                            [VISUALIZZA_CAMPAGNE]
                            [CREA_CAMPAGNA]
                        </div>
                    </li>
                </div>
                [FORUM]
                [ABOUT_US]
            </ul>
            [LOGIN/REGISTER]
            <img src="/assets/imgs/header_e_footer/Dragon.png" alt="Drago" width="90" height="90" class="right_dragon">
        </header>
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <div class="container">
                <ol>
                    [BREADCRUMB]
                </ol>
            </div>
        </nav>