<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>[TITOLO]</title>
    <meta name="description"
        content=[DESCRIZIONE]>
    <meta name="keywords"
        content=[KEYWORDS]>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/ap_stylesheet.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/assets/JS/script.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="header-site">
            <img src="/assets/imgs/header_e_footer/Dragon.png" alt="Drago" style="transform: scaleX(-1);" width="90" height="90"
                class="left_dragon">
            <img src="/assets/imgs/header_e_footer/logo.png" href="/index.php" alt="Logo" width="90" height="70">
            <ul class="navlinks">
                <li>[HOME]</li>
                <div class="dropdown">
                    <li><a class="dropbtn">Campagne</a>
                        <div class="dropdown-content">
                            [VISUALIZZA_CAMPAGNE]
                            [CREA_CAMPAGNA]
                        </div>
                    </li>
                </div>
                [FORUM]
                [ABOUT_US]
            </ul>
            <button class="user"><i class='bx bx-user-circle'></i></box-icon>Login/Registrati</button>
            <img src="/assets/imgs/header_e_footer/Dragon.png" alt="Drago" width="90" height="90" class="right_dragon">
        </header>
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <div class="container">
                <ol>
                    <li><a href="#home">Home</a></li>
                    <li><span aria-current="page"></span></li>
                </ol>
            </div>
        </nav>